In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv("./Dataset/BanksDataset/AXISBANK.csv")
data.head(10)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,UTIBANK,EQ,24.70,26.70,26.70,26.70,26.7,26.70,26.70,112100,2.993070e+11,NaN,NaN,NaN
1,2000-01-04,UTIBANK,EQ,26.70,27.00,28.70,26.50,27.0,26.85,27.24,234500,6.387275e+11,NaN,NaN,NaN
2,2000-01-05,UTIBANK,EQ,26.85,26.00,27.75,25.50,26.4,26.30,26.24,170100,4.462980e+11,NaN,NaN,NaN
3,2000-01-06,UTIBANK,EQ,26.30,25.80,27.00,25.80,25.9,25.95,26.27,102100,2.681730e+11,NaN,NaN,NaN
4,2000-01-07,UTIBANK,EQ,25.95,25.00,26.00,24.25,25.0,24.80,25.04,62600,1.567220e+11,NaN,NaN,NaN
5,2000-01-10,UTIBANK,EQ,24.80,25.05,26.50,25.00,25.0,25.00,25.29,64200,1.623340e+11,NaN,NaN,NaN
6,2000-01-11,UTIBANK,EQ,25.00,24.25,24.80,23.00,23.0,23.20,23.90,91700,2.191725e+11,NaN,NaN,NaN
7,2000-01-12,UTIBANK,EQ,23.20,22.60,24.50,22.60,24.0,24.00,23.97,32500,7.791350e+10,NaN,NaN,NaN
8,2000-01-13,UTIBANK,EQ,24.00,24.50,24.50,23.10,23.8,23.60,23.77,48300,1.147955e+11,NaN,NaN,NaN
9,2000-01-14,UTIBANK,EQ,23.60,24.00,24.20,22.50,23.5,23.25,23.17,30700,7.114250e+10,NaN,NaN,NaN

In [3]:
X_value = data.values
print(len(X_value))

5097